{% extends 'master.html' %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/style.css'%}">


{%block body%}
<h1>User information</h1>
<form>
    <table cellspacing="10" border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EAMIL</th>
            <th>CONTACT</th>
            <th>ACTION</th>
        </tr>
        {% for i in ul%}
        <tr>
           
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td><a href="delete">DELETE</a></td>
            
        </tr>
        {% endfor %}
    </table>
</form>
<hr>
{%endblock%}