<style>
    #footer{
        bottom: 0;
        position: relative;
        background-color: #e3f2fd;
    }
</style>
<ul id="footer" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Service</a>
    </li>
  </ul>