<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-Capitalize text-success" style=" font-weight: bolder;" href="/">Contact Saver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Account</a>
          </li>
           <li class="nav-item p-1">
            <a class="nav-link text-light btn btn-outline-success" href="reg">Register</a>
          </li> 
          <li class="nav-item p-1">
            <a class="nav-link text-light btn btn-danger" href="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>